/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */

.container {
    background-color: #afd918; /* Fondo verde */
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', 'Helvetica Neue', sans-serif;
}

.title {
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 60px; /* Reducir el espacio entre las imágenes */
    margin-bottom: 10px; /* Reducir margen entre filas */
}

.category {
    cursor: pointer;
    text-align: center;
}

.imageContainer {
    /* position: relative; */
    width: 300px;
    height: 400px;
    overflow: hidden; /* Oculta la parte de la imagen que se sale del contenedor */
    position: relative; /* Posiciona el contenedor de la imagen para que el zoom se aplique correctamente */
    border-radius: 10px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 1.1s ease; /* Transición suave para el efecto de zoom */
    width: 100%; /* Asegura que la imagen ocupe el ancho completo del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}
.image:hover{
    transform: scale(1.2); /* Escala la imagen al 120% de su tamaño original */
}

.categoryName {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 30px;
    background-color: rgba(242, 123, 19, 0.5);
    /* Fondo semitransparente para mejor legibilidad */
    padding: 10px 100%;
    border-radius: 5px;
    font-weight: bold;
}
@media (max-width: 768px) {

    .categories{
        flex-direction: column;
        align-items: center;
        margin: 20px 0 !important;
        gap: 20px;
    }
}