.slider {
    width: 100vw;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.slider .slideTrack {
    display: flex;
    animation: scroll 90s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
    flex-shrink: 0;
    font-family: 'Poppins', sans-serif;
}

.slider .slide img {
    width: 100%;
    height: auto;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 7));
    }
}
