.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.imageContainer {
    flex: 1;
    max-width: 50%;
}

.imageContainer img {
    width: 30vw;
    height: auto;
}

.detailsContainer {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.detailsContainer h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.detailsContainer p {
    font-size: 18px;
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
}

.detailsContainer p span {
    color: #f00;
    text-decoration: line-through;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.purchaseInfo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.purchaseInfo label {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.purchaseInfo input {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
    width: calc(100% - 20px); /* Ajustar el ancho para evitar desbordamiento */
    font-family: 'Poppins', sans-serif;
}

.purchaseInfo button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    width: auto; /* Ajustar el ancho del botón */
    font-family: 'Poppins', sans-serif;
}

.addToCartButton {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.addToCartButton:hover,
.purchaseInfo button:hover {
    background-color: #333;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .imageContainer, .detailsContainer {
        max-width: 100%;
    }

    .purchaseInfo {
        width: 100%;
    }

    .purchaseInfo input {
        width: 100%;
    }

    .addToCartButton {
        width: 100%;
        text-align: center;
    }
}
