.detail{
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    padding: 20px;
    /* background-color: #E3DCD6; */
    margin: 30px 0;
    border-radius: 10px;
}

.imageContainer {
    flex: 1;
    max-width: 30%;
}

.imageContainer img {
    width: 30vw;
    height: auto;
    margin-right: 10px;
}

.detailsContainer {
    flex: 1;
    max-width: 50%;
    padding: 20px;
}

.detailsContainer h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.detailsContainer p {
    /* font-size: 18px; */
    margin: 5px 0;
}

.selectdetail{
    margin-bottom: 20px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.precios{
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
}

.detailsContainer p span {
    color: #f00;
    text-decoration: line-through;
    margin-left: 10px;
}
.descripcion{
    font-size: 15px;
}
.containertallecant{
    display: flex;
    /* justify-content: space-between; */
    font-size: 15px;
}
.talle{
    display: flex;
    flex-direction: column;
    width: auto;
}
.purchaseInfo {
    display: flex;
    flex-direction: column;
    width: auto;
    font-size: 15px;
    margin-left: 20px;
    /* display: flex;
    margin-top: 20px; */
}


/* .purchaseInfo label {
    margin-bottom: 10px;
} */

/* .purchaseInfo input {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
    width: calc(100% - 20px);  Ajustar el ancho para evitar desbordamiento 
} */

/* .purchaseInfo button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    width: auto; Ajustar el ancho del botón 
} */

.guiatalles{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-decoration: none; /* Elimina el subrayado por defecto */
    transition: color 0.3s, text-decoration 0.3s; /* Transición suave para el color y el subrayado */
    color: #32CD32;
}
.guiatalles:hover{
    color: #0056b3; /* Color del enlace al pasar el ratón */
    cursor: pointer;
}
.addToCartButton {
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
}

.addToCartButton:hover,
.purchaseInfo button:hover {
    background-color: #333;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .imageContainer, .detailsContainer {
        max-width: 100%;
    }

    .purchaseInfo {
        width: 100%;
    }

    .purchaseInfo input {
        width: 100%;
    }

    .addToCartButton {
        width: 100%;
        text-align: center;
    }
}
