/* src/assets/styles/global.css */
.cart-button {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .cart-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }

  .cart-button:hover{
    color: #afd918;
  }
  